.App {
    align-items: center;
}

.myForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    text-align: center;
}

.input-income {
    height: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}